/*Sempre retirar a margin e o padding no começo de cada projeto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;


  /* Uma div se comporta como um elemento em bloco, ou seja, sempre irá para baixo, mesmo se tiver espaço ou não */
  display: flex;
  /* A partir do momento que usamos o display flex, eles mudam o comportamento, ficando um do lado do outro. */

  /* Também temos alguns comportamentos, mudando com o flex-diretion. EX: row | row-reverse | column | column-reverse */
  flex-direction: column;



}

.item {
  /* Cada item terá 50% do tamanho da tela, porém, temos 4 itens e mesmo assim continua em apenas uma linha. Pq isso acontece? Por padrão, o flex forçará a ficar tudo na mesma linha */
  width: 50%;

  height: 200px;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;


}